@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$background-color: #EEE;
$black-cell-color: #222;
$white-cell-color: #FFF;
$grid-border-color: #333;

$white-checker: url("/public/images/white.png");
$black-checker: url("/public/images/black.png");
$white-king: url("/public/images/white-king.png");
$black-king: url("/public/images/black-king.png");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;

  #grid {
    width: 82vmin;
    height: 93vmin;
    border: 1vmin solid $grid-border-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .info.row {
      text-align: center;
      height: 11vmin;
      border-bottom: 1vmin solid $grid-border-color;
    }

    .game.row {
      display: flex;
      height: 10vmin;

      &:nth-of-type(even) > div:nth-child(even),
      &:nth-of-type(odd) > div:nth-child(odd) {
        background: $black-cell-color;
      }

      div {
        position: relative;
        width: 10vmin;
        height: 10vmin;
        background: $white-cell-color;

        .checker {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 10vmin;
          height: 10vmin;
          background-repeat: no-repeat;
          background-size: cover;
          background-color: rgba(0, 0, 0, 0);

          &.white {
            background-image: $white-checker;
          }

          &.black {
            background-image: $black-checker;
          }

          &.white.king {
            background-image: $white-king;
          }

          &.black.king {
            background-image: $black-king;
          }
        }
      }
    }
  }
}